* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}

body {
    font-family: 'Roboto Slab', serif;
}
.first-section {
    background-color: #1F2937;
}
#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right {
display: flex;
width: 50%;
justify-content: center;
align-items: center;
}